@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.container-profile {
  background: #ffffff;
  min-height: 100vh;
  font-family: "Fredoka One", sans-serif;
  display: flex;
  flex-direction: column;
}
.header-profile {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  background: radial-gradient(
    rgba(149, 96, 199, 0.7),
    rgba(149, 96, 199, 0.7),
    rgba(149, 96, 199, 0.8),
    rgba(149, 96, 199, 0.9),
    rgba(149, 96, 199, 0.9)
  );
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.44);
}
.menu-profile {
  flex-grow: 1;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #ffffff;
  justify-content: space-between;
}
.menu-profile p {
  font-size: 1.5em;
}
.profile-avatar {
  height: 50px;
  width: 50px;
  background: #ffffff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(149, 96, 199, 0.6);
}
.profile-avatar img {
  height: 100%;
  width: 100%;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-profile span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-profile button {
  background-color: transparent;
  font-size: 1.3em;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  border-radius: 1em;
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out;
}
.menu-profile button.selected {
  margin-bottom: 15px;
  box-shadow: 0 5px 5px rgba(149, 96, 199, 0.6);
}
.main-profile {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
}
.main-profile {
  width: 100%;
  padding: 30px 10px;
  color: rgba(0, 0, 0, 0.765);
}
.logo {
  width: 170px;
  height: 100px;
}
.logo img {
  width: 100%;
  height: 100%;
}
h1.profile-h1 {
  width: 100%;
  font-size: 2em;
  text-align: center;
}
.card {
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: 0 2px 20px rgba(132, 0, 255, 0.2);
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}
.main-profile .url-short input {
  width: 100%;
  padding: 15px 25px;
  font-size: 1.5em;
  height: 50px;
  border: none;
  color: rgb(68, 67, 67);
  background-color: white;
  box-shadow: 0 2px 20px rgba(132, 0, 255, 0.1);
  border-radius: 2em;
}
button.profile-btn {
  font-size: 1.3em;
  color: white;
  background: linear-gradient(
    90deg,
    #7036b3,
    #7846b1,
    #7d51af,
    #8666aa,
    #7d51af,
    #7846b1,
    #7036b3
  );
  width: 100%;
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 2em;
  box-shadow: 0 0 20px rgba(132, 0, 255, 0.1);
  transition: all 0.3s ease-in-out;

  cursor: pointer;
}
button.profile-btn:hover {
  filter: brightness(70%);
}
p.text {
  width: 100%;

  font: 16px "source sans pro", arial;
  line-height: 1.5;
}
p.text a {
  color: rgba(149, 96, 199, 1);
  cursor: pointer;
}
p.text.text-center {
  text-align: center;
}
p.text.text-discr {
  margin: 5px 0;
}
.profile-footer {
  height: 70px;
  background: radial-gradient(
    rgba(149, 96, 199, 0.7),
    rgba(149, 96, 199, 0.7),
    rgba(149, 96, 199, 0.8),
    rgba(149, 96, 199, 0.9),
    rgba(149, 96, 199, 0.9)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-info {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
.box {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 10px;
}
.mylinks.card {
  box-shadow: none;
}
.mylinks h1 {
  width: 100%;
  text-align: center;
}
.mylinks h2 {
  width: 100%;
  text-align: center;
}
.links-info.card {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}
.links-info p {
  padding: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.5em;
}
div.link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
a.link-url {
  background: radial-gradient(
    rgba(149, 96, 199, 0.7),
    rgba(149, 96, 199, 0.7),
    rgba(149, 96, 199, 0.8),
    rgba(149, 96, 199, 0.9),
    rgba(149, 96, 199, 0.9)
  );
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0.5em;
  color: white;
  width: 87%;
  display: block;
}
div.link button {
  color: white;
  background: linear-gradient(
    90deg,
    #7036b3,
    #7846b1,
    #7d51af,
    #8666aa,
    #7d51af,
    #7846b1,
    #7036b3
  );
  padding: 5px;
  border: none;
  width: 60px;
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(132, 0, 255, 0.1);
  transition: all 0.3s ease-in-out;

  cursor: pointer;
}
div.link button:hover {
  filter: brightness(70%);
}
div.link button[text]:hover::after {
  content: attr(text);
  position: absolute;
  color: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    #7036b380,
    #7846b180,
    #7d51af80,
    #8666aa80,
    #7d51af80,
    #7846b180,
    #7036b380
  );
  padding: 3px;
  border-radius: 5px;
  top: -100%;
  left: 0;
}
